@use "../../scss/utils/" as *;

footer {
  @include fixed(bottom);
  @include flex($justifyContent: space-around);
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.1);
  padding: 1em;
  button.active {
    color: $primary-color;
  }
}
